<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
		<listeners>
		<listener class-name="ExtentReportListener.ExtentReport" />
		<listener class-name="ExtentReportListener.Listners" />
	</listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="TestLayer.HomePageTest"/>
      <class name="TestLayer.AdminPageTest"/>
      <class name="TestLayer.LoginPageTest"/>
      <class name="TestLayer.EducationPageTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
